<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Resources</h1></div>
        </div>
    </div>
	
	<div class="well outer-well">
        <div class="well">
		    <div class="panel panel-default">


						<div><h1><strong><u><p class="midalign">Useful Links:</p></u></strong></h1>
						<br/>
						<br/>
							<ul class="resources">
							<li><p><a href="http://bitbucket.org/hartloff/cse250-fall2015" target="_blank">Course Examples Repo</a></p></li>
							<li><p><a href="http://www.cplusplus.com/reference/" target="_blank">Cplusplus.com - great reference tool</a></p></li>
							<li><p><a href="http://en.cppreference.com/w/cpp" target="_blank">cppreference.com - also great reference</a></p></li>
							<li><p><a href="http://www.learncpp.com/" target="_blank">learncpp.com - great beginner learning site</a></p></li>
							<li><p><a href="https://www.codecademy.com/" target="_blank">codeacademy - learning programming/different languages</a></p></li>
							<li><p><a href="http://stackoverflow.com/" target="_blank">stackoverflow.com - solving any of your technical issues</a></p></li>
							</ul>
						</div>
						<br/>
						<br/>
						<div class="midalign"><h1><strong><u>More To Come!! Feel free to suggest:</u></strong></h1></div>
						
						<br/>
						<center>
						<img src="images/doggy.gif"/>
						</center>
			</div>
		</div>
	</div>
</div>