<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 1: Treasure Hunter</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3><u>Due Date</u></h3>
            Friday, February 19 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3><u>Objectives</u></h3>
            <ul>
                <li>Practice with pointers and references</li>
                <li>Review of objects, inheritance, and logic</li>
                <li>Exposure to operator overloading, ternary operator, sets, and iterators</li>
            </ul>
        </div>

        <div class="well">
            <h3><u>Resources</u></h3>
            Pointers: <a
                href="https://www.youtube.com/watch?v=6pmWojisM_E">https://www.youtube.com/watch?v=6pmWojisM_E</a>
            <br/>
        </div>

        <div class="well">
            <h3><u>Treasure Hunter Simulator</u></h3>
            <br/>
            <h4>Story:</h4>
            <p>
                You are an adventurous risk-taking treasure hunter willing to fight to the death for points. You’re
                filled with a blind rage fueled by greed to reach your destination as fast as possible with as many
                points as possible. So ask yourself, are you willing to embark on the endless treasure hunt?
            </p>
            <br/>

            <h4>The Simulator:</h4>
            <p>
                You will be writing a program that simulates the functionality of the game. You will only be writing
                code for the backend. The simulator should take a string that emulates user input and updates the
                treasure hunter as needed.
            </p>
            <p>
                This is a roguelike, single-player game, 2D top-down game. In this game, the player moves on a 2D grid
                with the goal of accumulating points while navigating towards the goal. There are also squares on the
                grid that contain enemies and treasures that have properties defined in the Game Mechanics section
                below.
            </p>
            <p>Here is a prototype to give an idea of what the game would look like to a player. You do not need to make
                a GUI for this homework. This is only provided to make the rules of game clear:
                <br/><br/>focus the game (click on it)
                <br/>"wasd" for movement (this will be "uldr" for the assignment)
                <br/>k for b
                <br/>l for a
                <br/>blue circle = treasure hunter
                <br/>yellow square = treasure
                <br/>orange circle = exit
                <br/>red square = enemy
            </p>
            <iframe width="630" height="680" src="homework/TreasureHunter.html"></iframe>
            <br/>
        </div>

        <div class="well">
            <h3><u>Functionality Requirements</u></h3><br/>

            <!--Part 1-->
            <h4>Detecting the Konami Code (1 point)</h4>
            <p>The user can input a cheat code to be invincible. The cheat code is the Konami code: "up, up, down, down,
                left, right, left, right, b, a" represented as "uuddlrlrba" for this game.</p>

            <div class="container">
                We will be testing this method to see if it properly detects the Konami Code:<br/>
                <kbd>bool GameLogic::containsKonamiCode(std::string inputs);</kbd><br/>
            </div>
            <br/>
            <p>
                This should take in a string, as parameter inputString, and return true if the Konami code "uuddlrlrba"
                is found within the given inputs. Otherwise, it should return false.
            </p>
            <div class="container">
                Examples:<br/>
                <kbd>containsKonamiCode("uuddlrlrba") == true</kbd><br/>
                <kbd>containsKonamiCode("aaabdlrlruuddlrlrba") == true </kbd><br/>
                <kbd>containsKonamiCode("aaabdlrlruuddllrlrba") == false</kbd><br/>
            </div>
            <br/>


            <!--Parts 2 and 3-->
            <h4>Game Mechanics (2 points)</h4>
            <p>For this part of the assignment we will be testing the functionality of your TreasureHunter class. We
                will instantiate an object of type TreasureHunter through a constructor that takes a GameBoard, complete
                with goal, enemy, and treasure locations, and the starting point of the hunter. We will then call the
                computeScore function with a string representing a sequence of user inputs. Your goal is to incorporate
                the rules of the game and return the final score a player would receive with the given inputs on the
                given board.</p>
            <ul>
                <li>Movement
                    <ul>
                        <li>The treasure hunter starts out with 50 points.</li>
                        <li>
                            The player moves up, down, left, right, and attacks by inputting "u", "d", "l", "r", and "a"
                            respectively.
                        </li>
                        <li>
                            If the treasure hunter moves closer to the end goal destination in either the <var>x</var>
                            or <var>y</var>
                            direction, then 1 point is added
                            to the score.
                        </li>
                        <li>
                            If the treasure hunter moves farther away from the end goal in <var>x</var> or <var>y</var>,
                            then 2 points are taken away
                            from the score.
                        </li>
                        <li>
                            If the player inputs anything other than "udlrab", then the treasure hunter doesn't move
                            and loses 1 point.
                        </li>
                        <li>Moves are made one at a time; no diagonal movements.</li>
                        <li>Only lower-case characters are considered for valid input.</li>
                        <li>
                            If the treasure hunter moves to a space with treasure on it, then 10 points are added to
                            the score and the treasure is removed from the board.
                        </li>
                    </ul>
                </li>
                <li>Fighting
                    <ul>
                        <li>
                            If the treasure hunter is on the same space as an enemy, then the player can't move until
                            an "a" has been inputted for an attack. The treasure hunter has a 1-hit KO, so the player
                            can move afterwards.
                        </li>
                        <li>
                            If the Konami Code was entered before fighting the enemy, then the player can instantly KO
                            the enemy and move as if the enemy wasn't there.
                        </li>
                    </ul>
                </li>
                <li>Win Condition
                    <ul>
                        <li>
                            The player wins and earns 100 points when the treasure hunter has reached the end goal
                            destination. The score
                            should be returned as the amount of points the treasure hunter has once the end goal is
                            reached.
                        </li>
                    </ul>
                </li>
                <li>Lose Condition
                    <ul>
                        <li>
                            The player loses when the treasure hunter has no points left. The score should be returned
                            as 0.
                        </li>
                    </ul>
                </li>
            </ul>
            <br/>
            <p>
                We will be testing this method to see if the correct number of points the Treasure Hunter has after
                moving with the given inputString:
            </p>
            <div class="container">
                <kbd>int TreasureHunter::computeScore(std::string inputString);</kbd><br/>
            </div>
            <br/>
            <p>You will get 1 point for a mostly correct solution and 2 points for a completely correct solution.</p>


            <!--Part 4-->
            <h4>Efficiency (1 point)</h4>
            <p>
                Your game simulation must run efficiently in both time and memory usage when using multiple boards.
                All methods will be tested extensively with large inputs to determine efficiency. To test efficiency we
                will be changing the game board many times by calling the following functions:
            </p>
            <div class="container">
                <kbd>void changeBoard(GameBoard&);</kbd><br/>
            </div>
            <div class="container">
                <kbd>void changeBoard(GameBoard*);</kbd><br/>
            </div>
        </div>


        <div class="well">
            <h3>Code</h3>
            Download and complete these C++ files with your solutions.<br/>
            <a href="homeworkCode/hw1.zip">hw1.zip</a>
            <br/>
            Do not edit the GameBoard.h and GameBoard.cpp files.
            <div class="alert alert-info">
                A run.cpp is included which contains a main method. This is provided to help you understand how
                to test your code, but this is not an exhaustive test of the functions. You should expand this function
                with you're own testing for ensure that your code handles every possible input. <br/>Do not submit
                run.cpp. It
                will not be graded. <br/><br/>
                To compile the simulation, type in the terminal: make<br/>
                To run the simulation, type in the terminal: ./TreasureHunter<br/>
                You will only see cout statements printed to the terminal.
            </div>
        </div>

        <div class="well">
            <h3>Submission</h3>
            You should be submitting 4 files: GameLogic.h GameLogic.cpp TreasureHunter.h TreasureHunter.cpp<br/>
            These file should be submitted individually on the submission website:
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">
                https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>
        </div>

        <div class="well">
            <h3>Solution</h3>
            <a href="homeworkSolutions/hw1-solution.zip">
                hw1-solution.zip</a>
        </div>

        <div class="well">
            <h3>Results</h3>
            <br/>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
            <div id="hw1results" style="100%; height:400px;"></div>
    </div>
    <div class="col-sm-2"></div>
</div>

            <script>
                makeChart('hw1results', 26, 28, 20, 11, 15, 52)
//                $(function () {
//                    $('#container44').highcharts({
//                        chart: {
//                            type: 'column'
//                        },
//                        title: {
//                            text: ''
//                        },
////                        subtitle: {
////                            text: 'Source: WorldClimate.com'
////                        },
//                        xAxis: {
//                            categories: [
//                                '0: No Submission',
//                                '0',
//                                '1',
//                                '2',
//                                '3',
//                                '4'
//                            ],
//                            crosshair: true
//                        },
//                        yAxis: {
//                            min: 0,
//                            title: {
//                                text: ''
//                            }
//                        },
//                        tooltip: {
//                            headerFormat: '<span style="font-size:12px"></span><table>',
//                            pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
//                            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
//                            footerFormat: '</table>',
//                            shared: true,
//                            useHTML: true
//                        },
//                        plotOptions: {
//                            column: {
//                                pointPadding: 0,
//                                borderWidth: 0
//                            }
//                        },
//                        legend: {
//                            enabled: false
//                        },
//                        series: [{
//                            name: ' ',
//                            data: [26, 28, 20, 11, 15, 52]
//
//                        }]
//                    });
//                });
            </script>

        </div>


    </div>

</div>

