<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Homework 2: Firework Factory</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h2 class="text-center">Due Date</h2>
            <hr/>
            Tuesday, March 1 @ 2 hours after 11:59pm (2am Wednesday morning)
        </div>

        <div class="well">
            <h2 class="text-center">Objectives</h2>
            <hr/>
            <ul>
                <li>Practice with stack, queue, and enum</li>
                <li>Dynamic memory allocation on the heap (new and delete)</li>
                <li>Continued practice with C++ syntax</li>
            </ul>
        </div>


        <div class="well">
            <h2 class="text-center">Resources</h2>
            <hr/>
            Stack: <a href="http://www.cplusplus.com/reference/stack/stack/">http://www.cplusplus.com/reference/stack/stack/</a><br/>
            Queue: <a href="http://www.cplusplus.com/reference/queue/queue/">http://www.cplusplus.com/reference/queue/queue/</a><br/>
            Enum: <a href="http://en.cppreference.com/w/cpp/language/enum">http://en.cppreference.com/w/cpp/language/enum</a><br/>
            Colored Fire: <a href="https://en.wikipedia.org/wiki/Colored_fire">https://en.wikipedia.org/wiki/Colored_fire</a><br/>
        </div>


        <div class="well">

            <h2 class="text-center">Firework Factory</h2>
            <br/>
            <div class="text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/T-MUWJWqOv0" frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <br/>

            <div class="alert alert-danger">Danger: Never handle explosives unless you are a trained professional.</div>
            <div class="alert alert-warning">Warning: This is strictly a C++ programming assignment. It has nothing to
                do with actual fireworks or explosives of any kind.
            </div>


            <p>For this assignment you will be implementing a FireworkFactory class in C++. This class manages the
                construction, purchase, and sale of different colored fireworks. Since the shelf life of a firework is
                limited, they must be sold in FIFO order to keep the factories inventory as fresh as possible. In
                addition, there will be a time when each factory is shut down. In this event, it is important to
                properly dispose of its entire inventory of fireworks (delete the objects).</p>

            <br/>
            <hr/>

            <h3 class="text-center">LIFO and FIFO Inventory (1 point)</h3>
            <br/>
            <p>
                Implement this pair of functions to receive and ship fireworks while maintaining a proper order.
            </p>
            <div class="well code-well"><code>
                void fireworkShipment(stack&lt;Firework*&gt;&);
            </code></div>
            <p>
                You will receive a stack of firework pointers via fireworkShipment and you must add the pointers to the
                factory's inventory starting with the top
                of the stack.
            </p>
            <div class="well code-well"><code>
                void sellFireworks(stack&lt;Firework*&gt;&, int quantity);
            </code></div>
            <p>
                In sellFireworks, fireworks must be shipped in FIFO order to keep the inventory as new as possible.
                whether
                fireworks were delivered or created, they must maintain this FIFO order.
            </p>

            <br/>
            <hr/>

            <h3 class="text-center">Create and Destroy Fireworks (1 point)</h3>

            <br/>
            <p>
                Implement functions to manage the creation and destruction of fireworks. It is important that
                every firework that is created with new is destroyed with delete exactly once.
            </p>
            <div class="well code-well"><code>
                void metalShipment(stack&lt;Metal&gt;&);
            </code></div>

            <p>
                Receive a shipment of metal which will be used to make new fireworks in the factory. Whenever the
                factory has 5 of
                any type of metal, it must immediately make a firework of the corresponding color and add it to the
                inventory.
                To make a firework, you must use the new keyword to create it dynamically on the heap and manage a
                pointer to
                the firework.
            </p>
            <p>
                Metals and colors are both defined using enums.
            </p><br/>
            <table class="table table-bordered text-center">
                <thead class="text-center">
                <th class="info text-center" width="50%">Metal</th>
                <th class="info text-center" width="50%">Color</th>
                </thead>
                <tbody>
                <tr>
                    <td class="active">CalciumChloride</td>
                    <td class="active">Orange</td>
                </tr>
                <tr>
                    <td>CopperSulfate</td>
                    <td>Green</td>
                </tr>
                <tr>
                    <td class="active">CopperChloride</td>
                    <td class="active">Blue</td>
                </tr>
                <tr>
                    <td>PotassiumChloride</td>
                    <td>Purple</td>
                </tr>
                </tbody>
            </table>
            <br/>


            <div class="well code-well"><code>
                ~FireworkFactory();
            </code></div>
            <p>
                Before destroying the factory you must properly dispose of all the fireworks in your inventory (On the
                heap). Do this by calling delete on each firework in inventory exactly once. Leaving fireworks on the
                heap (<a href="https://en.wikipedia.org/wiki/Memory_leak">memory leak</a>) will fail the test for this
                point. Deleting a firework more than once will cause a runtime error.
            </p>


            <br/>
            <hr/>

            <h3 class="text-center">Sell Fireworks by Color (1 point)</h3>

            <br/>

            <div class="well code-well"><code>
                void sellFireworks(stack&lt;Firework*&gt;&, int quantity, Color color);
            </code></div>

            <p>Some customers want to purchase fireworks all of a specific color and are not satisfied with
                just taking the oldest fireworks in stock. The FIFO ordering must still be maintained as much as
                possible, but fireworks of the specified color can be sold before
                other colors if there is no other way to fulfil the order.</p>
            <p>Be sure not to sell the same firework more than once with either of the sellFireworks functions.
                Fireworks that are sold are launched by the customers. If two customers launch (delete) the same
                firework it will cause a runtime error. You must also be careful not to delete a firework that has been
                sold.</p>

            <br/>
            <hr/>

            <h3 class="text-center">O(1) Efficiency (1 point)</h3>

            <br/>
            <p>
                Complete all functionality using only O(1) runtime operations in all data structures that maintain
                inventory
                for the factory. Runtime is in terms of the size of the inventory.
            </p>
            <br/>

            <div class="alert alert-info">This can be a difficult point to obtain and it is meant to be a challenge for
                students motivated enough to strive for an A in the course.
            </div>
        </div>


        <div class="well">
            <h3>Code</h3>
            <p>Download and complete these C++ files with your solutions.</p>
            <h3><a href="homeworkCode/hw2.zip">hw2.zip</a></h3>
            <br/>
            <p>The provided run.cpp file contains extensive testing for this assignment that is very similar to what
                we'll
                use for grading. This will not be the case for
                later assignments and this is done here to show you what we expect you to do in order to test your own
                code.</p><br/>
            <div class="alert alert-warning">Caution: You will have to do you own testing later in this course. Do not
                rely on the feedback and tests we provide.
            </div>
        </div>


        <div class="well">
            <h3>Submission</h3>
            Submit: FireworkFactory.h, FireworkFactory.cpp<br/>
            Submissions must be made individually on the submission website:
            <a href="https://www-student.cse.buffalo.edu/planetexpress/">
                https://www-student.cse.buffalo.edu/planetexpress/</a>
            <br/>
        </div>


        <div class="well">
            <h3>Solution</h3>
            <a href="homeworkSolutions/hw2-solution.zip">
                hw2-solution.zip</a>
        </div>

        <div class="well">
            <h3>Results</h3>
            <br/>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div id="hw2results" style="100%; height:400px;"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <script>
                makeChart('hw2results', 27, 20, 9, 18, 36, 42);
            </script>
        </div>

    </div>
</div>



