<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Array and Vector</h1></div>
        </div>
    </div>


    <div class="well">
<p>In order to gain an understanding of vectors and arrays in C++, we will look at designing and implementing a
vector class, UBVector.</p>
        <p>* Most content provided by Dr. Hung Ngo *</p>
        <h2>The Interface</h2>
        <ul><li>In the header file</li><li>Decide the functions that can be called on the UBVector</li></ul>
<pre>
// UBVector.h
#ifndef _UBVECTOR_H
#define _UBVECTOR_H

class UBVector {
public:

    // accessors
    std::string& operator[](size_t index);
    const std::string& operator[](size_t index) const;
    std::string& front();
    const std::string& front() const;
    std::string& back();
    const std::string& back() const;

     // capacity
    size_t size() const;
    size_t capacity() const;
    bool empty();
    void reserve(size_t n);

     // modifiers
    void push_back(const std::string& value);
    void pop_back();
    void insert(size_t position, const std::string& value);
    void erase(size_t position);
    void swap(UBVector& another_ubvec); // swap content

    // constructors and assignment operator
    //default constructor:
    UBVector();
    //UBVector with n strings:
    UBVector(size_t n);
    //copy constructor:
    UBVector(const UBVector&);
    UBVector& operator=(const UBVector& another_ubvec);

    // destructor
    ~UBVector();

private:
    // ... more to come

}





</pre>
<br>
<h2>The Inner View</h2>
<ul><li>How an array is used to implement the interface</li></ul>

        <img src="images/InnerView.png">

<p>How do we go about writing this in code?</p>
<pre>
class UBVector {

//... continued from above

private:
    size_t num_items;
    size_t current_capacity;
    static const size_t INITIAL_CAPACITY;
    string *item_ptr; // points to the start of the array
</pre>

        <img src="images/InnerView2.png">
<br>
<h2>Constructors and Destructors</h2>

<p><b>In UBVector.h:</b></p>
        <pre>
//as seen above

#ifndef _UBVECTOR_H
#define _UBVECTOR_H

class UBVector {
public:
    // constructors and assignment operator
    UBVector();                // default constructor
    UBVector(size_t n);        // UBVector with n strings
    UBVector(const UBVector&); // copy constructor
    UBVector& operator=(const UBVector& another_ubvec);

    // destructor
    ~UBVector();
}

        </pre>
        <br>
<p><b>In UBVector.cpp: </b></p>
<pre>
#include <string>
#include "UBVector.h"
using namespace std;

    // actually allocate the const member
    const size_t UBVector::INITIAL_CAPACITY = 5;

    // Default Constructor:

UBVector::UBVector() {
    num_items        = 0;
    current_capacity = INITIAL_CAPACITY;
    item_ptr         = new string[current_capacity];
}

    //Size Constructor:

UBVector::UBVector(size_t n) {
    num_items        = n;
    current_capacity = max(n, INITIAL_CAPACITY);
    item_ptr         = new string[current_capacity];
}

    //Size Constructor again
    //Using an initialization list:

UBVector::UBVector(size_t n) :
    num_items(n),
    current_capacity(max(n, INITIAL_CAPACITY)),
    item_ptr(new string[max(n, INITIAL_CAPACITY)])
    { /* constructor has empty body */ }


    //Destructor:
UBVector::~UBVector() {
    delete [] item_ptr;
}

</pre>
        <p>We will take a look at the copy constructor a bit later.</p>

        <p><b>Initialization Lists:</b>
        <ul>
        <li>Can be more efficient</li>
<pre>
    T x;
    x=expression;
</pre>
<li>Expression is evaluated, object of type T is created</li>
        <li>Assignment operator for T is called</li>
        <li>Temporary object is destroyed</li>
        <li>If x=expression is in constructor, a copy of x is created before doing assignemnt</li>
    </ul>

        </p>

<p><b>Destructor Notes:</b></p>
<ul><li>A raw pointer is used here</li>
<li>In C++11, you can use a unique_ptr template class
    <li>delete [] gets called automatically when it goes out of scope</li></li>
</ul>


<h2>Implementation of Some Simple Functionss</h2>
<p>Subscripting operator--const</p>
<pre>
    //return a referenceso we can do ubvec[12]="abc"; later
string& UBVector::operator[](size_t index) {
    if (index < num_items)
        return item_ptr[index];
    else
        throw out_of_range("index is out of range");


    //The first const in the line means you can't modify the returned cell
    //The second const says that this function doesn't modify data members

const string& UBVector::operator[](size_t index) const {
    if (index < num_items)
        return item_ptr[index];
    else
        throw out_of_range("index is out of range");
}

//const version used when the object itself is const


</pre>
<p><b>front() and back()</b></p>
<pre>
string& UBVector::front() {
    return (*this)[0];
}

const string& UBVector::front() const {
    return (*this)[0];
}

string& UBVector::back() {
    return (*this)[num_items-1];
}

const string& UBVector::back() const {
    return (*this)[num_items-1];
}


//some Unit Testing for these functions:
// driver.cpp: test the UBVector class
#include <iostream>
    #include <stdexcept>
    #include "UBVector.h"
    using namespace std;

int main() {
    UBVector ubv(3);
    ubv[0] = "this"; ubv[1] = "is"; ubv[2] = "good!";

    cout << ubv[0] << " " << ubv[1] << " " << ubv[2] << endl;
    ubv.front() = "THIS";
    ubv.back() = "GOOD!";
    cout << ubv.front() << " " << ubv[1] << " " << ubv[2] << endl;
    try {
        cout << ubv[4] << endl;
    } catch (exception &e) {
        cout << e.what() << endl;
    }
}


</pre>

<p><b>push_back:</b></p>
<pre>
void UBVector::push_back(const string& item) {
    if (num_items == current_capacity)
        reserve(2*current_capacity);
    item_ptr[num_items++] = item;
}
</pre>


<img src="images/Memory.png">

<p><b>reserve:</b></p>
<pre>
    void UBVector::reserve(size_t n) {
    if (n > current_capacity) {
        current_capacity = max(n, 2*current_capacity);
        string *new_data_ptr = new string[current_capacity];
        for (size_t i=0; i&lt;num_items; i++) {
            new_data_ptr[i] = item_ptr[i];
        }
        delete [] item_ptr;
        item_ptr = new_data_ptr;
    }
}
</pre>

<p><b>Amortized Analysis of push_back()</b></p>
<p>Each push_back takes O(n) time, on average. If we look at the
    capacity vs. cost vs. credits, we see:</p>
<pre>
    capacity: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 ...
    cost:     1 1 1 1 1 6 1 1 1 1  11  1  1  1 ...
    credits:  2 2 2 2 2 2 2 2 2 2   2  2  2  2 ...
</pre>
<br>
<h2>Some More Complex Functions</h2>
<p><b>Capacity Functions:</b></p>
<p>When should the capacity of the UBVector shrink?
<ul><li>Option 1: Cut the capacity in half when the number of items stored in the
    vector is less than half of the current capacity</li>
    <li>Option 2: Cut the capacity in half when the number of items stored in the
    vector is less than one quarter of the current capacity </li></ul></p>
<p>Let's how it's done in the C++ STL:</p>
<pre>
#include <iostream>
#include <vector>
using namespace std;

int main() {
    static const size_t C = 20;
    vector<int> vec;
    cout << "Initial Capacity = " << vec.capacity() << endl;
    for (size_t i=0; i&lt;C; i++) {
        vec.push_back(i);
        cout << ”C[" << i << ”]=" << vec.capacity() << " ";
    }

    for (size_t i=C; i>0; i--) {
        vec.pop_back();
        cout << ”C[" << i-1 << ”]=" << vec.capacity() << " ";
    }
    cout << endl;
}
</pre>
<p>Output:</p>
<pre>
Initial capacity = 0

C[0] = 1   C[1] = 2   C[2] = 4   C[3] = 4
C[4] = 8   C[5] = 8   C[6] = 8   C[7] = 8
C[8] = 16  C[9] = 16  C[10] = 16 C[11] = 16
C[12] = 16 C[13] = 16 C[14] = 16 C[15] = 16
C[16] = 32 C[17] = 32 C[18] = 32 C[19] = 32

C[19] = 32 C[18] = 32 C[17] = 32 C[16] = 32
C[15] = 32 C[14] = 32 C[13] = 32 C[12] = 32
C[11] = 32 C[10] = 32 C[9] = 32  C[8] = 32
C[7] = 32  C[6] = 32  C[5] = 32  C[4] = 32
C[3] = 32  C[2] = 32  C[1] = 32  C[0] = 32
</pre>
<p>So how can we shrink the capacity of a STL vector?</p>
<pre>
 int main() {
    static const size_t C = 20;
    vector<int> vec;
    cout << "Initial capa = " << vec.capacity() << endl;
    for (size_t i=0; i&lt;C; i++) {
    vec.push_back(i);
    cout << ”C[" << i << ”]=" << vec.capacity() << " ";
    }

    cout << endl;
    for (size_t i=C; i>0; i--) {
    vec.pop_back();
    vector<int>(vec).swap(vec); // the swap trick!
        cout << ”C[" << i-1 << ”]=" << vec.capacity() << “ ";
        }
        cout << endl;
        }
</pre>
<p>Output:</p>
<pre>
Initial capacity = 0



C[0] = 1 C[1] = 2 C[2] = 4 C[3] = 4 C[4] = 8 C[5] = 8
C[6] = 8 C[7] = 8 C[8] = 16 C[9] = 16 C[10] = 16
C[11] = 16 C[12] = 16 C[13] = 16 C[14] = 16 C[15] = 16
C[16] = 32 C[17] = 32 C[18] = 32 C[19] = 32



C[19] = 19 C[18] = 18 C[17] = 17 C[16] = 16 C[15] = 15
C[14] = 14 C[13] = 13 C[12] = 12 C[11] = 11 C[10] = 10
C[9] = 9 C[8] = 8 C[7] = 7 C[6] = 6 C[5] = 5 C[4] = 4
C[3] = 3 C[2] = 2 C[1] = 1 C[0] = 0
</pre>

 <p><b>Note: </b> C++ 11 STL vector has a shrink_to_fit member function</p>

<p><b>erase() and pop_back()</b></p>
<pre>
void UBVector::erase(size_t position)
{
    if (position < num_items) {
        --num_items;
        for (size_t i=position; i&lt;num_items; ++i)
            item_ptr[i] = item_ptr[i+1];
        item_ptr[num_items].~string();       // explicit destructor call
        new (item_ptr + num_items) string(); // placement new
    }
}
void UBVector::pop_back() {
    erase(num_items-1);
}
</pre>

<p><b>insert() and swap()</b></p>
<pre>
void UBVector::insert(
        size_t position,
        const string& new_item)
{
    if (num_items == current_capacity)
        reserve(2*current_capacity);
    for (size_t i=num_items; i>position; --i)
        item_ptr[i] = item_ptr[i-1];
    item_ptr[position] = new_item;
    ++num_items;
}

void UBVector::swap(UBVector& the_other) {
    std::swap(num_items,
              the_other.num_items);

    std::swap(current_capacity,
              the_other.current_capacity);

    std::swap(item_ptr, the_other.item_ptr);
}
</pre>
        <br>
<h2>The Copy Constructor and The Rule of Threes</h2>
<p>When is the copy constructor called?
<ul><li>To declare and initalize a varaible
        <ul><li>UBVector vec1(vec2);</li></ul></li>
    <li>Pass and object by value
        <ul><li>void Foo(UBVector ubv);</li>
        <li>UBVector a(400);</li>
        <li>foo(a);</li></ul></li>
    <li>Return an object by value
       <ul> <li>Watch out for Return Value Optimization</li></ul>
    </li>
    </ul></p>
<p><b>Rule of Three</b></p>
<p>If a class defines one of the following, it should define all three (assuming that
    there is dynamic memory):
<ul>
        <li>Copy constructor</li>
        <li>(Copy) Assignment operator</li>
        <li>Destructor</li>
    </ul>
</p>
<p>C++ 11 has a rule of five, but we won't go there</p>
<p>What happens if all of these are not defined? If we run the following code:</p>
<pre>
int main() {
    UBVector a(4);
    a[0] = "this"; a[1] = "is";
    a[2] = "very"; a[3] = "interesting";
    print_vec(a);

    UBVector b(a); // equivalent to UBVector b = a;

    a[2] = "NOT";
    print_vec(b);
}
</pre>
<p>We get the following output:</p>
<img src="images/ConstructorError.png">

<p><b>Default Compiler Behavior</b></p>
<p> If these are not defined, the compiler supplies default versions
        <ul>
        <li>Copy Constructor and Assignment Operator
        <ul><li>Member-wise copy</li></ul>
        </li>
        <li>Destructor
        <ul><li>Destruct all data members</li></ul>
        </li>
    </ul>

        </p>

<p><b>The Assignment Operator and the Copy Constructor</b></p>
<pre>
    //The Assignment Operator

UBVector& UBVector::operator=(const UBVector& the_other) {

    // uses (deep) copy constructor here
    UBVector temp(the_other);

    swap(temp);

    return *this;
}

    //The Long-Awaited Copy Constructor

UBVector::UBVector(const UBVector& other) :
    num_items(other.num_items),
    current_capacity(other.num_items),
    item_ptr(new string[other.num_items])
    {
    for (size_t i=0; i&lt;num_items; ++i)
        item_ptr[i] = other.item_ptr[i];
    }




</pre>
</div></div>













