<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>C++ Basics</h1></div>
        </div>
    </div>

    <div class="well outer-well">
        <div class="well">

            <div>
                <a href="http://i.imgur.com/vM25dCh.gif"><img src="images/JavaVsCpp.gif"/></a>
            </div>

            <br/>
            <!--
            <div class="sectioncolor"><h2><u>Office Hours:</u></h2></div>
            <br/>


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class ="panel-body">
                    <table border="3" >
                        <tr><th>Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr>
                        <tr><td>8:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>9:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>10:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>11:00AM</td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>12:00PM</td><td>CSE250:Lecture</td><td>Vincent</td><td>CSE250:Lecture</td><td>Vincent</td><td>CSE250:Lecture</td></tr>
                        <tr><td>1:00PM</td><td></td><td>Vincent</td><td></td><td>Vincent</td><td></td></tr>
                        <tr><td>2:00PM</td><td>Vincent</td><td></td><td></td><td></td><td>Vincent</td></tr>
                        <tr><td>3:00PM</td><td>Vincent</td><td></td><td></td><td></td><td>Vincent</td></tr>
                        <tr><td>4:00PM</td><td></td><td></td><td></td><td>Abhishek</td><td></td></tr>
                        <tr><td>5:00PM</td><td></td><td></td><td></td><td>Abhishek</td><td></td></tr>
                        <tr><td>6:00PM</td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>7:00PM</td><td>David</td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>8:00PM</td><td>David</td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>9:00PM</td><td></td><td>Jesse</td><td></td><td></td><td></td></tr>
                        <tr><td>10:00PM</td><td></td><td>Jesse</td><td></td><td></td><td></td></tr>
                        <tr><td>11:00PM</td><td></td><td></td><td></td><td></td><td></td></tr>
                    </table>

                    </div>
                        -->
            <!--<div>-->
            <!--</div>-->
            <div class="panel panel-default">
                <div class="panel-body" id="sectioncolor"><h1>*This course moves extremely quick, so you
                    <span><u><strong>MUST</strong></u><span> practice writing C++ to be successful.</h1><br/></div>
            </div>
            <!--</div>-->
        </div>


        <div class="container"></div>

        <div class="well">
            <div class="sectioncolor">
                <p>
                <h1><u>Compiling your code:</u></h1></p>
            </div>
            <ul>
                <li><h4>Text Editor/Terminal (Recommended)</h4></li>
            </ul>
            This is the safest way to edit and compile your C++ code. It is recommended that you use an editor that
            support syntax highlighting such as <a href="http://www.sublimetext.com/">Sublime</a>, <a
                href="http://www.barebones.com/products/textwrangler/download.html">Text Wrangler</a> (OSX), or <a
                href="https://notepad-plus-plus.org/">NotePad++</a> (Windows).


            <ul>
                <li><h4>IDE</h4></li>
            </ul>
            You might want to use an IDE. You are free to use any IDE you wish to help write your code, but the teaching
            staff will only officially support text editors and command line compiling. This means that we will not help
            you configure your machine with Visual Studio if you can't get it to work with the homework assignments.
            <ul>
                <li><h4>Your code <span><u>must</u> compile on the CSE servers</span></li>
            </ul>

            Regardless of how you edit your code, your submissions must compile and run properly on timberlake in order
            to receive credit. You submissions will be compiled in a Linux environment with g++. For most assignments,
            we will provide a makefile that will compile your code.
            <br/>

            <div class="sectioncolor"><h2>Agenda</h2></div>
            <ul>
                <li><h4>cout</h4></li>
                <li><h4>namespace</h4></li>
                <li><h4>C++ Syntax</h4></li>
                <li><h4>Fundamental Data Types</h4></li>
                <li><h4>Declarations and Definitions</h4></li>
                <li><h4>Control Structures</h4></li>

            </ul>

            <hr/>
            <hr/>


            <div class="sectioncolor"><h1><u>Using Cout:</u></h1></div>
			
			<textarea rows="26" cols="100">
            /*this is a header file, also known as a preprocessor directive, before the program compiles, this
            tells your computer to look for the iostream standard file will allows you to use input and output
            */
            #include <iostream>

            //using this is optional. We will switch between using and not this semester.
            //using namespace std; allows you to just write cout, otherwise std::cout << is required.
            //std stands for C++ Standard Library.
            using namespace std;

            int main(){
                string my_name = "Bill Gates";
                string my_text_editor = "Sublime";
                string my_home_os = "Windows";

                //endl and '\n' essentially accomplish the same task.
                cout << "My name is " << my_name << "." << endl
                << "My text editor of choice is " << my_text_editor << "." <<'\n'
                << "My home os runs " << my_home_os << "." << endl;

                //return 0; is essential because int main must return something. This is good practice to show
                // main is successfully executed.
                return 0;
            }
			</textarea>

            <div class="sectioncolor">
                <h1><u>Output:</u>
                    <h1>
            </div>
			<textarea rows="5" cols="50">
My name is Bill Gates.
My text editor of choice is Sublime.
My home os runs Windows.
			</textarea>


            <hr/>
            <hr/>

            <div class="sectioncolor"><h1><u>Fundamental Data Types:</u></h1></div>
            <div><p>Boolean,characters,integers,floats, and void</p></div>
            <ul>
                <li>bool: true or false</li>
                <li>char: a character</li>
                <li>string: an array of characters</li>
                <li>int, long: an integer</li>
                <li>float, double: a floating-point real number</li>
                <li>wchar_t, char16_t, char32_t, short, signed, unsigned, etc...</li>
            </ul>
            <p>
            <h3><u>*We can use cout to output these variables:</u></h3></p>
			<textarea rows="20" cols="100">
                #include <iostream>
                using namespace std;

                int main(){
                    string name = "Bjarne Stroustrup";
                    char c = 'B';
                    int age = 65;
                    bool smart = true;
                    double avg = 365.25;
                    cout << "I am " << name << "." << endl
                    << "I am very " << smart << "." << endl
                    << "My name begins with " << c << "." << endl
                    << "My age is " << age << "." << endl
                    << "There are " << avg << " days in a year." << endl;
                    return 0;
                }
				
			</textarea>
            <div class="sectioncolor"><h1><u>Output:</u></h1></div>
			<textarea rows="10" cols="50">
I am Bjarne Stroustrup.
I am very 1.
My name begins with B.
My age is 65.
There are 365.25 days in a year.

			</textarea>
            <div>
                <p>*Notice that it doesn't print true. In C++(unlike Java), treats true == 1 and false == 0;
            </div>

            <hr/>
            <hr/>

            <div class="sectioncolor"><h1><u>Declarations and Definitions:</u></h1></div>
            <ul>
                <li>Like Java, all variables must be declared before used</li>
                <li>You cannot have repeated variable names regardless of data type</li>
                <li>You can have multiple variable declarations at once</li>
                <li>Many declarations are also definitions</li>
            </ul>
				<textarea rows="14" cols="100">int column, row, index = 0;
//only index is set to 0. Instead do:

int column, row, index;
column = index = row = 0;

// Or:

int column = 0;
int row = 0;
int index = 0;
				</textarea>
            <div class="sectioncolor"><h1><u>Again we have some variable Declarations:</u></h1></div>
            <h3>//variable declarations.</h3>
            <p>string name;
                <br>char c;
                <br>int i;
                <br>bool smart;
                <br>double avg;
            </p>
            <h3>//type declaration(type struct).</h3>
            <p>struct Date;</p>
            <h3>//a const bool declaration</h3>
            <p>const bool i_am_here = true;</p>
            <p>A const variable can not be reassigned</p>
            <h3>//a function declaration</h3>
            <p>int linearSearch(int array[], int size,int searchKey); //returns int value,takes int type parameter.


            <div class="sectioncolor"><h1><u>Now we have Definitions:</u></h1></div>
            <div>
                <h3>//Definition of function linearSearch().</h3>
                <p>int linearSearch(int array[], int size,int searchKey){
                    <br>&nbsp; &nbsp;for(int i = 0; i < size; i++){
                    <br>&nbsp; &nbsp;&nbsp; &nbsp;if(searchKey == array[i]){
                    <br>&nbsp; &nbsp;&nbsp; &nbsp;return i;
                    <br>&nbsp; &nbsp;&nbsp; &nbsp; }
                    <br>&nbsp; &nbsp;}
                    <br>return -1;

                    <br>}
                </p>
            </div>
            <div>
                <h3>Definition of struct Date</h3>
                <p> struct Date {
                    <br> &nbsp; &nbsp; &nbsp; int day;
                    <br> &nbsp; &nbsp; &nbsp; int month;
                    <br> &nbsp; &nbsp; &nbsp; int day;
                    <br> &nbsp;};

                </p>

            </div>
            <div>
                <h3>Declarations do not have default values</h3>

            </div>
            <div>
                <h3>These declarations are *not* definitions</h3>
                <p>int foo(int);
                    <br>struct Date;
                    <br><strong>extern</strong> int age;
                    <br>typedef vector
                    <int> Int_Vector;
                </p>
            </div>

            <hr/>
            <hr/>
            <div class="sectioncolor"><h1><u>Again:</u></h1></div>
            <ul>
                <li>Every name (identifier) must be declared before use</li>
                <li>A name can be declared multiples times
                    Helps with separate compilation.
                    Defined in one file, declared and used in others
                    More about this in a couple of lectures
                </li>
                <li>There is &le; 1 definition per name</li>
                <li>Some declarations are also definitions</li>


            </ul>

            <hr/>
            <hr/>

            <div class="sectioncolor"><h1><u>Upcoming...</u></h1></div>
            <ul>
                <li>C++ Classes and Inheritance</li>
            </ul>

        </div>
    </div>
</div>