<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Maps</h1></div>
        </div>
    </div>
	<div class="well outer-well">
		<div class="panel panel-default">
			<div class="panel-body" class="sectioncolor">
                <h1><strong><p class="midalign">What is a Map?</p></strong></h1>
			</div>
		</div>
		<div>
			<div class="panel-body" class="sectioncolor">
            
			<p>
				A Map is a container that stores elements by combination of a <span><strong>key</strong></span> value 
				and a mapped <span><strong>value</strong></span> and follows a specific order. Maps cannot contain duplicate
				keys but may have different keys of the same value. STL maps can sort keys using the comparison function. Maps 
				have logarithmic complexity, O(log n) with respect to Compare, Search, Insertion, and Deletion.
			</p>               
            
			</div>
		</div>
		<br/>
		<br/>
			<div class="panel panel-default">
				<div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Map Usage:</p></strong></h1>					
				<div>
				
				<br/>
				
			<p>
				<center>
				<h4>Let's write a program that creates an STL Map and uses iterators and basic map
				functions to show how they can be used.
				</h4>
				</center>
				
				<br/>
				
				<ul>
					<li>We must specify a <span><strong>Key</strong></span> and a <span><strong>Value</strong></span> type</li>
					<li>In this example, we have a key type of <span><strong>char</strong></span> and a value of <span><strong>int</strong></span> types.</li>
					<li>the <span><strong>map.find()</strong></span> method traverses a map and returns an iterator to it if found, otherwise returns an iterator to the end of the map.</li>
				</ul>
			</p>
			
				</div>
				
				<br/>
				<br/>
				<div>

					<!--********** http://www.cplusplus.com/reference/map/map/find/-->
					<!--<pre>-->
<!--//Example Program-->
<!--#include &lt;iostream&gt;-->
<!--#include &lt;map&gt;-->

<!--int main ()-->
<!--{-->
  <!--std::map&lt;char,int&gt; mymap;-->
  <!--std::map&lt;char,int&gt;::iterator it;-->

  <!--mymap['a']=50;-->
  <!--mymap['b']=100;-->
  <!--mymap.insert(std::make_pair('c',150));-->
  <!--mymap.insert(std::pair&lt;char,int&gt;('d',200));-->

  <!--it = mymap.find('b');-->
  <!--if (it != mymap.end()){-->
    <!--mymap.erase (it);-->
  <!--}-->
  <!--// print content:-->
  <!--std::cout << "elements in mymap:" << '\n';-->
  <!--std::cout << "a => " << mymap.find('a')->second << '\n';-->
  <!--std::cout << "c => " << mymap.find('c')->second << '\n';-->
  <!--std::cout << "d => " << mymap.find('d')->second << '\n';-->

  <!--return 0;-->
<!--}					-->
					<!--</pre>-->
				<!--</div>-->
					<!--<p>-->
					<!--<h4>-->
					<!--Output:-->
					<!--</h4>-->
					<!--</p>-->
					<!--<pre>-->
<!--elements in mymap:-->
<!--a => 50-->
<!--c => 150-->
<!--d => 200					-->
					<!--</pre>-->
					<!---->


					<!--<p>-->
					<!--<center>-->
						<!--<h4>Now let's expand by showing how pairs can be added to the map using <span><strong>map.insert()</strong></span>-->
						<!--</h4>-->
					<!--</center>-->
				<!---->
					<!--<br/>-->
					<!--<ul>-->
						<!--<li><span><strong>make_pair</strong></span> creates a pair between our two values, string and int</li> -->
						<!--<li>We can refer to the first and second values by pointing the iterator to <span><strong>first</strong></span> and <span><strong>second</strong></span></li>-->
					<!--</ul>			-->
					<!--</p>-->
					<!---->
					<!--<br/>-->

					<!--********** <a href="http://thispointer.com/stdmap-tutorial-part-1-usage-detail-with-examples/">http://thispointer.com/stdmap-tutorial-part-1-usage-detail-with-examples/</a>-->
					<!--<pre>-->
<!--// Example program-->
<!--#include &lt;iostream&gt;-->
<!--#include &lt;map&gt;-->
<!--#include &lt;string&gt;-->
<!--#include &lt;iterator&gt;-->
 <!---->
<!--int main()-->
<!--{-->
    <!--std::map&lt;std::string, int&gt; mapOfWords;-->
    <!--// Inserting data in std::map-->
    <!--mapOfWords.insert(std::make_pair("earth", 1));-->
    <!--mapOfWords.insert(std::make_pair("moon", 2));-->
    <!--mapOfWords["sun"] = 3;-->
    <!--// Will replace the value of already added key i.e. earth-->
    <!--mapOfWords["earth"] = 4;-->
    <!--// Iterate through all elements in std::map-->
    <!--std::map&lt;std::string, int&gt;::iterator it = mapOfWords.begin();-->
    <!--while(it != mapOfWords.end())-->
    <!--{-->
        <!--std::cout << it->first << " :: "&lt;&lt;it->second &lt;&lt; std::endl;-->
        <!--it++;-->
    <!--}-->
    <!--// Check if insertion is successful or not-->
    <!--if(mapOfWords.insert(std::make_pair("earth", 1)).second == false)-->
    <!--{-->
        <!--std::cout<<"Element with key 'earth' not inserted because already existed"&lt;&lt;std::endl;-->
    <!--}-->
    <!--// Searching element in std::map by key.-->
    <!--if(mapOfWords.find("sun") != mapOfWords.end())-->
        <!--std::cout<<"word 'sun' found"&lt;&lt;std::endl;-->
    <!--if(mapOfWords.find("mars") == mapOfWords.end())-->
        <!--std::cout<<"word 'mars' not found"&lt;&lt;std::endl;-->
    <!--return 0;-->
<!--}					-->
					<!--</pre>-->
					<!--<p>-->
					<!--<h4>-->
					<!--Output:-->
					<!--</h4>-->
					<!--</p>-->
					<!--<pre>-->
<!--earth :: 4-->
<!--moon :: 2-->
<!--sun :: 3-->
<!--Element with key 'earth' not inserted because already existed-->
<!--word 'sun' found-->
<!--word 'mars' not found-->
 					<!---->
					<!--</pre>-->

					<!--********** http://www.cprogramming.com/tutorial/stl/stlmap.html-->
					<!--<h3><p>Pros:</p></h3>-->
					<!--<ul>-->
						<!--<li>Maps provide a way of using "associative arrays" that allow you to store data indexed by keys of any type you desire, instead of just integers as with arrays.</li>-->
						<!--<li>Maps can be accessed using iterators that are essentially pointers to templated objects of base type pair, which has two members, first and second. <span><strong>First corresponds to the key</strong></span>, <span></strong>second to the value associated with the key.</strong></span></li>-->
						<!--<li>Maps are fast, guaranteeing <span><strong>O(log(n))</strong></span> insertion and lookup time.</li>-->
						<!--<li>Map ordering is guaranteed to be ordered by keys</li>-->
						<!--<li>Iteration based on <span><strong>sorted order</strong></span></li>-->
						<!--<li>You're keys can be primitives, other data structures like stacks or queues, or more maps</li>-->
					<!--</ul>-->
					<!---->
					<!--<h3><p>Cons:</p></h3>-->
					<!--<ul>-->
						<!--<li>Checking for whether an element is in a map requires using the find function and comparing the returned iterator with the iterator associated with the end of the map.</li>-->
						<!--<li>Since maps associate a key with only one value, you need to use a multimap (or make the type of the data a container) if you must associate multiple pieces of data with one key.</li>-->
					<!--</ul>-->
					<!---->
					<!--<br/>-->
					<!--<br/>-->


					<center>
					<p>
					<h2>
						Duplicate Deletion Dilemma:
					</h2>
					</p>
					</center>
					
					<br/>
					
					
					<p>
						Since maps have a built in std:: less than comparator, we can sort whenever an item is 
						added to the map. What's happens if we have duplicated keys? We must use a <span><strong>MultiMap.</strong></span>
						But how can we delete from a map all key and values that contains duplicated values?
					<!--</p>-->
				<!---->
						<!--<p>-->
						<!--Let's say we have an unordered map(we'll learn this next week) that's of type map<int,Animal*> and we need to delete-->
						<!--all the inserted animals where the value is a pointer to the same animal type.-->
						<!--</p>-->
						<!---->
						<!--<pre>-->
<!--std::unordered_map map<int, Animal*> animalKingdom;-->
<!--Animal* Simba = new Animal("Lion");-->
<!--animalKingdom[1] = Simba;-->
<!--animalKingdom[2] = Simba;-->
<!--animalKingdom[10] = Simba;-->
						<!---->
<!--//How can we delete all keys of value Lion?-->
						<!--</pre>-->
						<!--<h3>-->
						<!--<p>-->
						<!--Solution-->
						<!--</p>-->
						<!--</h3>-->
								<!--<pre>-->

						<!--********** http://stackoverflow.com/questions/16167961/how-to-delete-from-map-all-records-with-same-value-but-different-keys-->
<!--std::unordered_map<int, Animal*> AnimalMap;-->
<!--AnimalMap animalKingdom;-->

<!--void DeleteStuff(Animal* searchPointerValue)-->
<!--{-->
    <!--for(AnimalMap::iterator it = animalKingdom.begin(); it < animalKingdom.end(); )-->
    <!--{-->
        <!--if(it->second == searchPointerValue)-->
        <!--{-->
            <!--// erase() invalidates the iterator but returns a new one-->
            <!--// that points to the next element in the map.-->
            <!--it = mp.erase(it);-->
        <!--}-->
        <!--else-->
        <!--{-->
            <!--++it; // Only bump the iterator if no erase is done-->
                  <!--// since unordered_map::erase() takes care of that for us-->
        <!--}-->
    <!--}-->

    <!--// now we can delete the animal as you so desire-->
    <!--delete searchPointerValue;-->
<!--}								-->
								<!--</pre>-->
				
				</div>
			
		
			</div>
			<div class="panel panel-default">
				<div class="panel-body" class="sectioncolor">
					<h1><strong><p class="midalign">Basic Sets</p></strong></h1>
				</div>
				
				<p>
					A set is a container that stores unique elements in a specific order. Rather 
					than a map which contains a Key and a Value stored as two separate elements,
					a set stores a &lt;key,data&gt; pair. Like maps, they are an associative array.
					<span><strong>Does not allow Duplicates</strong></span> If you add a duplicated element,
					it will return an iterator to the position where the element exists and not add it.</strong></span>
					A <span><strong> MultiSet</strong><span> however does allow duplicated items.
				</p>
				<br/>
				<br/>
				</div>
				

				<!--********** http://stackoverflow.com/questions/18568132/dont-understand-this-code-principle-->
				<!--<pre>-->
<!--#include &lt;iostream&gt;-->
<!--#include &lt;set&gt;-->

<!--int main ()-->
<!--{-->
  <!--std::set<int> myset;-->
  <!--std::set<int>::iterator it;-->
  <!--std::pair<std::set<int>::iterator,bool> ret;-->

  <!--// set some initial values:-->
  <!--for (int i=1; i<=5; ++i) myset.insert(i*10);    // set: 10 20 30 40 50-->

  <!--ret = myset.insert(20);               // no new element inserted-->

  <!--if (ret.second==false) it=ret.first;  // "it" now points to element 20-->

  <!--myset.insert (it,25);                 // max efficiency inserting-->
  <!--myset.insert (it,24);                 // max efficiency inserting-->
  <!--myset.insert (it,26);                 // no max efficiency inserting-->

  <!--int myints[]= {5,10,15};              // 10 already in set, not inserted-->
  <!--myset.insert (myints,myints+3);-->

  <!--std::cout << "myset contains:";-->
  <!--for (it=myset.begin(); it!=myset.end(); ++it)-->
    <!--std::cout << ' ' << *it;-->
  <!--std::cout << '\n';-->

  <!--return 0;-->
<!--}-->
				<!---->
				<!--</pre>-->
			
				<!--<p>-->
				<!--<h3>-->
				<!--Output:-->
				<!--</h3>-->
				<!--</p>-->
				<!---->
				<!--<pre>-->
<!--myset contains: 5 10 15 20 24 25 26 30 40 50				-->
				<!--</pre>-->
				<!---->
				<!--<br/>-->
				<!---->
				<!--<h3>-->
					<!-- -The main difference between a <span><strong>Set</strong></span> and a <span><strong>Map</strong></span>-->
					<!--is that a Set <span><strong>only</strong></span> has a key while a map has a <span><strong>pair.</strong></span>-->
				<!--</h3>-->
			<!---->
			<!---->
			<!--<br/>-->
			<!--<br/>-->
				<!--<p>-->
					<!--Here is another example with a multiset.-->
				<!--</p>-->
				
				<!--<pre>-->
<!--#include &lt;iostream&gt;-->
<!--#include &lt;set&gt;-->

<!--int main ()-->
<!--{-->
  <!--std::multiset<int> mymultiset;-->
  <!--std::multiset<int>::iterator it;-->

  <!--// set some initial values:-->
  <!--for (int i=1; i<=5; i++) mymultiset.insert(i*10);  // 10 20 30 40 50-->

  <!--it=mymultiset.insert(25);-->

  <!--it=mymultiset.insert (it,27);    // max efficiency inserting-->
  <!--it=mymultiset.insert (it,29);    // max efficiency inserting-->
  <!--it=mymultiset.insert (it,24);    // no max efficiency inserting (24<29)-->

  <!--int myints[]= {5,10,15};-->
  <!--mymultiset.insert (myints,myints+3);-->

  <!--std::cout << "mymultiset contains:";-->
  <!--for (it=mymultiset.begin(); it!=mymultiset.end(); ++it)-->
    <!--std::cout << ' ' << *it;-->
  <!--std::cout << '\n';-->

  <!--return 0;-->
<!--}				-->
				<!--</pre>-->
				<!--<p>-->
				<!--<h3>-->
				<!--Output:-->
				<!--</h3>-->
				<!--</p>-->
				<!--<pre>-->
<!--myset contains: 5 10 10 15 20 24 25 27 29 30 40 50-->
				<!---->
				<!--</pre>-->
			<!--</div>-->
		</div>
	</div>
</div>