<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Python Data Structures</h1></div>
        </div>
    </div>

    <div class="well"> <!-- well 1 -->


        <div class="well">
            <h2>Questions</h2>
            Submit question here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>

        <div class="well">
            <h2>Python Data Structures</h2>


            <div class="well">

                <h3>List</h3>

                <p>
                    In python, a list is a resizable random access data structure similar to ArrayList in java and
                    Vector in C++. Lists can have mixed types and can even contain other lists.

                </p>


                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="11" id="ListIndexUsage">
shoppingList=['Apples', 'Milk', 'Eggs', 1, 7, 14, [3,4,5]]
stringA=shoppingList[1]
stringB=shoppingList[1]+' & '+shoppingList[2]
numberA=shoppingList[-3]
numberB=shoppingList[4]+shoppingList[5]

print('stringA is: ' + stringA)
print('stringB is: ' + stringB)
print('numberA is: ' + str(numberA))
print('numberB is: ' + str(numberB))
print(shoppingList[6])
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button"
                                onclick="runit('ListIndexUsage','ListIndexUsageOut')">Run
                        </button>
                    </div>
                </form>
                <pre id="ListIndexUsageOut"></pre>

                <p>Lists can be spliced with the same syntax as strings.</p>

                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="12" id="ListSlice">
shoppingList=['0.Apples', '1.Milk', '2.Eggs', '3.Bread', '4.Beef', '5.Hat', '6.Gloves']
subListA=shoppingList[1:5]
subListB=shoppingList[:5]
subListC=shoppingList[1:]
subListD=shoppingList[:]

print(shoppingList)
print(subListA)
print(subListB)
print(subListC)
print(subListD)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ListSlice','ListSliceOut')">Run
                        </button>
                    </div>
                </form>
                <pre id="ListSliceOut"></pre>

                <p>
                    Lists are versatile data structures that can be used as a variety of other structures.
                </p>

                <h3>List as a matrix</h3>


                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="12" id="ListIndexOfIndex">
shoppingListA=['Apples', 'Milk']
shoppingListB=['Eggs', 'Bread', 'Beef']
shoppingList=[shoppingListA, shoppingListB, ['Hat','Gloves']]

print(shoppingList)
print(shoppingList[1])
print(shoppingListB)
print(shoppingList[0][1])
print(shoppingList[1][2])
print(shoppingList[0][1]+' & '+shoppingList[1][2])
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button"
                                onclick="runit('ListIndexOfIndex','ListIndexOfIndexOut')">Run
                        </button>
                    </div>
                </form>
                <pre id="ListIndexOfIndexOut"></pre>


                <h3>List as a Stack</h3>

                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="12" id="ListIndexOfIndex2">
shoppingList=[]

shoppingList.append('Eggs')
shoppingList.append('Bread')
shoppingList.append('Beef')
shoppingList.append('Hat')
shoppingList.append('Gloves')

print(shoppingList)
print(shoppingList.pop())
print(shoppingList.pop())
print(shoppingList)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button"
                                onclick="runit('ListIndexOfIndex2','ListIndexOfIndex2Out')">Run
                        </button>
                    </div>
                </form>
                <pre id="ListIndexOfIndex2Out"></pre>


                <!--<h3>List as a Queue</h3>-->

                <!--&lt;!&ndash; Code from http://www.skulpt.org &ndash;&gt;-->
                <!--<form role="form">-->
                <!--<div class="form-group">-->
                <!--<textarea class="form-control" rows="12" id="ListIndexOfIndex22">-->
                <!--import collections-->

                <!--shoppingList=collections.deque([])-->

                <!--shoppingList.append('Eggs')-->
                <!--shoppingList.append('Bread')-->
                <!--shoppingList.append('Beef')-->
                <!--shoppingList.append('Hat')-->
                <!--shoppingList.append('Gloves')-->

                <!--print(shoppingList)-->
                <!--print(shoppingList.popleft())-->
                <!--print(shoppingList.popright())-->
                <!--print(shoppingList)-->
                <!--</textarea>-->
                <!--<br/>-->
                <!--<button class="btn btn-default" type="button" onclick="runit('ListIndexOfIndex22','ListIndexOfIndex22Out')">Run</button>-->
                <!--</div>-->
                <!--</form>-->
                <!--<pre id="ListIndexOfIndex22Out"></pre>-->


                <!-- Code from http://www.skulpt.org -->
                <!--<form role="form">-->
                <!--<div class="form-group">-->
                <!--<textarea class="form-control" rows="5" id="string4">-->

                <!--</textarea>-->
                <!--<br/>-->
                <!--<button class="btn btn-default" type="button" onclick="runit('string4','string4Out')">Run-->
                <!--</button>-->
                <!--</div>-->
                <!--</form>-->

                <!--<pre id="string4Out"></pre>-->


            </div>


            <!--<div class="well">-->

                <!--<h3>Set</h3>-->
            <!--Sets not in skulpt!-->

                <!--<p>-->
                    <!--Set and dictionary are data structures that rely on hash values for fast indexing. When properly set-->
                    <!--up this will allow for O(1) insert, delete, and find. Sets and dictionaries are similar to-->
                    <!--unordered_set and unordered_map in C++. Like these data structures, duplicates are not allowed.-->
                <!--</p>-->

                <!--<div class="well">-->
                    <!--&lt;!&ndash; Code from http://www.skulpt.org &ndash;&gt;-->
                    <!--<form role="form">-->
                        <!--<div class="form-group">-->
<!--<textarea class="form-control" rows="5" id="string43">-->
<!--intSet = Set([1,2,3,4,5])-->
<!--print(intSet)-->

<!--</textarea>-->
                            <!--<br/>-->
                            <!--<button class="btn btn-default" type="button" onclick="runit('string43','string43Out')">Run-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->

                    <!--<pre id="string43Out"></pre>-->
                <!--</div>-->

            <!--</div>-->


            <div class="well">

                <h3>Dictionary</h3>

                <p>
                    Dictionaries serve as a key value store in python. Like sets, the elements are indexed by the hash
                    of the key.
                </p>

                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="10" id="string432">
city = {"name":"valiano", "region": "16", "country":"it", "latitude":43.15, "longitude":11.9, 20:"key doesn't have to be a string"}
print(city)
print(city["name"])
print(city["latitude"])
print(city[20])
del(city[20])
print(city)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string432','string432Out')">
                            Run
                        </button>
                    </div>
                </form>

                <pre id="string432Out"></pre>

                <p>
                    What if we want the key to be an object? To do this, we must implement two addition methods for the
                    class, __eq__ to determine duplicates and __hash__ to determine the index of an object.
                </p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="50" id="string4321">
class City:
    def __init__(self, country, name, region):
        self.country = country
        self.name = name
        self.region = region

    def getName(self):
        return self.name

    def getCountry(self):
        return self.country

    def getRegion(self):
        return self.region

    def __str__(self):
        return self.country + ", " + self.name + ", " + self.region

    # When are two objects of this type equivalent
    def __eq__(self, other):
        return self.name == other.name

    # Define how to hash the object. Using the built-in hash function on a string in this example
    def __hash__(self):
        return hash(self.name)

class Location:
    def __init__(self, latitude, longitude):
        self.latitude = latitude
        self.longitude = longitude if longitude < 180.0 else longitude - 360.0

    def getLatitude(self):
        return self.latitude

    def getLongitude(self):
        return self.longitude

    def __str__(self):
        return "(" + str(self.latitude) + "," + str(self.longitude) + ")"

cities = {}
cities[City("it","valiano","16")] = Location(43.15,11.9)
cities[City("it","vallegrascia","10")] = Location(42.866667,13.3)
cities[City("it","valle","09")] = Location(46.066667,10.416667)
cities[City("it","valli mocenighe","20")] = Location(45.166667,11.566667)

for city in cities.keys():
    print(str(city) + " can be found at " + str(cities[city]))

</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string4321','string4321Out')">
                            Run
                        </button>
                    </div>
                </form>

                <pre id="string4321Out"></pre>

            </div>


        </div>
    </div>