<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Python</h1></div>
        </div>
    </div>

    <div class="well"> <!-- well 1 -->
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="https://xkcd.com/353/"><img src="images/python.png"
                                                     class="img-thumbnail center-block"/></a>
            </div>

            <div class="col-sm-4"></div>
        </div>
        <!--</div>-->
        <br/><br/>

        <div class="well">
            <h2>Questions</h2>
            Submit question here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </div>

        <div class="well">
            <h2>Python</h2>
            <p>
                <!--Wikipedia: <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol</a>.-->
            </p>

            <br/>
            <p>
                In this lecture we will explore:
            </p>
            <ul>
                <li>Python!</li>
            </ul>

            <div class="well">
                <div><h2>How do I write and run code?</h2></div>
                <ul>
                    <li><h4>PyCharm</h4></li>
                </ul>
                <p>It is recommended that you use PyCharm Community Edition to work on your homework and project for
                    this
                    course.
                </p>
                <p>Download Here:
                    <a href="https://www.jetbrains.com/pycharm/">https://www.jetbrains.com/pycharm/</a>
                </p>
                <p>PyCharm is an Integrated Development Environment (IDE) that can be helpful while writing
                    and running python code. Some of the features that PyCharm offers is auto-saving, syntax
                    highlighting, a
                    built-in
                    python interpreter, and error highlighting.</p>

                <ul>
                    <li><h4>Text Editor and Command Line</h4></li>
                </ul>
                <p>While the features of PyCharm can be helpful, it is not necessary. Python code can be written in any
                    text
                    editor and then interpreted via the command line. If you choose this method to write and run python
                    code, this tutorial can help you set up your environment: <a
                            href="https://en.wikibooks.org/wiki/Choose_Your_Own_Pyventure">https://en.wikibooks.org/wiki/Choose_Your_Own_Pyventure</a>
                </p>

                <div class="alert alert-warning">Do not write your homework solutions with the in-browser python
                    interpreter
                    found on the
                    course website. By using this to edit your homework you will risk losing all your work if you
                    accidentally
                    navigate away from the page.
                </div>

                To learn the
                basics of python, Codecademy provides an excellent
                tutorial for free on their website</p>
                <p>Link: <a href="https://www.codecademy.com/learn/python">https://www.codecademy.com/learn/python</a>
                </p>
                <p>This tutorial covers most of the python topics for this course and may prove to be an invaluable
                    resource
                    to solidify your understanding of the language. </p>

            </div>

            <br/>

            <div class="well">

                <h3>String Parsing</h3>

                <p>
                    We will only cover some of the functions that can be called on strings in lecture. If you are
                    interested,
                    however, you can see a whole list of functions defined for strings
                    here
                    (in section 4.7.1):
                </p>

                <a href="https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str">https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str</a>

                <h3>len</h3>

                <p>We can access the length of a string by using the len() function. This function takes in a
                    string as
                    an argument and
                    returns the number of characters in the string. Note that the returned value will be 1 more than the
                    last index of the string.</p>


                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="string4">
string1="0123456"
print(len(string1))
string2="This is a longer string!!!!"
print(len(string2))
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('string4','string4Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="string4Out"></pre>
                </div>

                <h3>in</h3>

                <p>To check if a string s is contained in a string w, we can use the 'in' function:</p>


                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="string5">
truthValue="cdef" in "abcdefghij"
print(truthValue)
truthValue="cdEf" in "abcdefghij"
print(truthValue)
truthValue="1" in "789876578765145678"
print(truthValue)
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('string5','string5Out')">Run
                            </button>
                        </div>
                    </form>

                    <pre id="string5Out"></pre>
                </div>


                <h3>Find and rfind</h3>
                We'll now look at pair of useful functions that help use find where a particular string appears in
                another
                string. With "in" and "not in" we we're asking if a string exists in another string, with "find" and
                "rfind"
                we are asking where it appears.
                <ul>
                    <li>find(string x)<p>returns the index of the first occurrence of x</p></li>
                    <li>rfind(string x)<p>returns the index of the last occurrence of x</p></li>
                </ul>

                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="6" id="string27">
sentence = "The quick brown fox jumps over the lazy dog"
print(sentence.find("The")) # Returns the index of "T" in "The"
print(sentence.find("fox")) # returns the index of the "f" in "fox"
print(sentence.rfind("o")) # returns the index of the "o" in dog
print(sentence.rfind("orange")) # returns -1 since "orange" is not in the sentence
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string27','string27Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string27Out"></pre>
            </div>

            <h3>More Functions</h3>

            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="7" id="string7">
userInput = input("Give me a string")
print(userInput.count("a"))
print(userInput.isalpha())
print(userInput.isdigit())
print(userInput.capitalize())
print(userInput.upper())
print(userInput.lower())
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string7','string7Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string7Out"></pre>
            </div>

            <h3>Split</h3>

            <p>To split a string based on a delimiter, simply call the split function. Let's split a line from a
                properly formatted csv file csv file</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="5" id="string75">
line = "it,valli mocenighe,20,45.166667,11.566667"
values = line.split(",")
print(values[1])
print(len(values))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string75','string75Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string75Out"></pre>
            </div>


            <h3>Splice</h3>

            <p>To get a substring by index, use splice. We'll also see the strip and float functions to strip out extra
                white space and cast a string to a float.</p>


            <div class="well">
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="6" id="string751">
line = "018 6.7612 0.62779 +0.77578 Dusseldorf-Bilk"
longitude = float(line[3:11].strip())
print(longitude)
name = line[28:]
print(name)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('string751','string751Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="string751Out"></pre>
            </div>

        </div>

        <div class="well">

            <h3>Functions and Conditionals</h3>

            <p>
                Now we will see one of the most important syntactical concepts in python: Whitespace matters!
                Specifically, indentation is how we tell python when a block of code starts and stops. Every consecutive
                line of code at the same level of indentation will be considered to be in the same block. We'll see this
                in action through functions and conditionals as we do our taxes.
            </p>
            <p>
                In this section we will compute state and federal taxes based on income for filing single in 2015.
            </p>
            <div class="alert alert-info">Note: Do not rely on this for your actual taxes. There is much more complexity
                to the tax code than what is given here.
            </div>

            <a href="https://www.irs.com/articles/2015-federal-tax-rates-personal-exemptions-and-standard-deductions">2015
                Federal tax schedule</a><br/>
            <a href="http://www.tax-brackets.org/newyorktaxtable">2015 NYS tax schedule</a><br/>

            <div>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="48" id="tax1">
# Filing single in 2015

def fedralTaxOwed(taxableIncome):
    if taxableIncome <= 9225:
        return 0.1*taxableIncome
    elif taxableIncome <= 37450:
        return 922.5 + 0.15*(taxableIncome-9225)
    elif taxableIncome <= 90750:
        return 5156.25 + 0.25*(taxableIncome-37450)
    elif taxableIncome <= 189300:
        return 18481.25 + 0.28*(taxableIncome-90750)
    elif taxableIncome <= 411500:
        return 46075.25 + 0.33*(taxableIncome-189300)
    elif taxableIncome <= 413200:
        return 119401.25 + 0.35*(taxableIncome-411500)
    else:
        return 119996.25 + 0.396*(taxableIncome-413200)

def NYSTaxOwed(taxableIncome):
    if taxableIncome <= 8200:
        return 0.04*taxableIncome
    elif taxableIncome <= 11300:
        return 328.0 + 0.045*(taxableIncome-8200)
    elif taxableIncome <= 13350:
        return 467.5 + 0.0525*(taxableIncome-11300)
    elif taxableIncome <= 20550:
        return 575.13 + 0.059*(taxableIncome-13350)
    elif taxableIncome <= 77150:
        return 999.93 + 0.0645*(taxableIncome-20550)
    elif taxableIncome <= 205850:
        return 4650.63 + 0.0665*(taxableIncome-77150)
    elif taxableIncome <= 1029250:
        return 13209.18 + 0.0685*(taxableIncome-205850)
    else:
        return 69612.08 + 0.0882*(taxableIncome-1029250)

def incomeAfterTaxes(taxableIncome):
    return taxableIncome - fedralTaxOwed(taxableIncome) - NYSTaxOwed(taxableIncome)

incomeAfterDeductions = 50000

print("Taxable income     : " + str(incomeAfterDeductions))
print("Federal tax owed   : " + str(fedralTaxOwed(incomeAfterDeductions)))
print("NYS tax owed       : " + str(NYSTaxOwed(incomeAfterDeductions)))
print("Income after taxes : " + str(incomeAfterTaxes(incomeAfterDeductions)))

</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('tax1','tax1Out')">Run
                        </button>
                    </div>
                </form>

                <pre id="tax1Out"></pre>
            </div>


        </div>


        <div class="well">

            <h3>Loops and Lists</h3>
            A simple for loop over a list.
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="LoopDefinition">
numberList=[1,3,5,4,2]
counter=0

for number in numberList:
    print('Index ' + str(counter) + ' contains ' + str(number))
    counter+=1
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopDefinition','LoopDefinitionOut')">
                        Run
                    </button>
                </div>
            </form>
            <pre id="LoopDefinitionOut"></pre>
            <!--End of Reference Code-->
            <hr/>

            The variables in list can be any type.
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="LoopDefinitionType">
wholeList=[3, 5.7, False, 'Buffalo', ['Eggs', 'Milk']]
counter=0

for item in wholeList:
    print('Index ' + str(counter) + ' contains ' + str(item))
    counter+=1
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('LoopDefinitionType','LoopDefinitionTypeOut')">Run
                    </button>
                </div>
            </form>
            <pre id="LoopDefinitionTypeOut"></pre>
            <!--End of Reference Code-->

            To loop a specific number of times, use the range function.
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="3" id="LoopDefinitionType2">
for i in range(10):
    print(i)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('LoopDefinitionType2','LoopDefinitionType2Out')">Run
                    </button>
                </div>
            </form>
            <pre id="LoopDefinitionType2Out"></pre>
            <!--End of Reference Code-->

        </div>


        <div class="well">

            <h3>Classes</h3>
            <p>
                When defining classes, remember to always indent properly to mark the end of each definition. The self
                keyword is used to refer to the current object and is used extensively in python. Each method in a class
                must explicitly take self as the first parameter in the declaration, though it is passed implicitly
                when called. The constructor is called __init__ and the __str__ function is called when an object of
                this type is printed.
            </p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="28" id="LoopDefinitionType22">
# Location class used to communicate lat/long
class Location:

    # Do not put member variable outside the constructor
    # Variables declared here become static class variables

    # constructor in python. "self" is similar to "this" and must be the first parameter in every method declaration
    def __init__(self, latitude, longitude):
        # self variables declared in the constructor become member variables
        self.latitude = latitude
        self.longitude = longitude if longitude < 180.0 else longitude - 360.0

    def getLatitude(self):
     return self.latitude

    def getLongitude(self):
        return self.longitude

    def __str__(self):
        return "(" + str(self.latitude) + "," + str(self.longitude) + ")"


# the start of execution when interpreting this script
location = Location(33.85, 78.55)
print(location)
print(location.getLongitude())

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('LoopDefinitionType22','LoopDefinitionType22Out')">Run
                    </button>
                </div>
            </form>
            <pre id="LoopDefinitionType22Out"></pre>
            <!--End of Reference Code-->


        </div>


        <div class="well">

            <h3>Import</h3>
            <p>
                As with most languages, python has many standard libraries that must be imported before using. Note that
                many of the standard libraries don't function in the browser interpreter. To explore other libraries,
                test them in your local python development environment.
            </p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="LoopDefinitionType222">
import math

latitude = math.pi
print(math.cos(latitude))
print(math.sin(latitude))
print(math.sqrt(math.e))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('LoopDefinitionType222','LoopDefinitionType222Out')">Run
                    </button>
                </div>
            </form>
            <pre id="LoopDefinitionType222Out"></pre>
            <!--End of Reference Code-->


        </div>


    </div>
</div>