<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Recursion</h1></div>
        </div>
    </div>

    <div class="well outer-well">

        <div class="well">

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div>
                        <center><a href="https://prateekvjoshi.files.wordpress.com/2013/10/part-1.jpg">
                            <img class="img-responsive" src="images/recursion.png">
                        </a>
                        </center>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </div>

        <div class="well">
            <p>
                In this lecture we will see an example of finding all anagrams of a word using a recursive function.
                Before
                we get into the example, let see an example of reading data from a file in C++. We will use this to read
                in
                a dictionary and find all anagrams of a given word that can be found in the dictionary.
            </p>
        </div>


        <div class="well">
            <div><h2>File Input</h2></div>
            <br/>

<pre>
#include &lt;fstream&gt;
using namespace std;
    ...
ifstream fs;
fs.open(filename);
string line;

while (!fs.eof()) {
    getline(fs, line);
    cout << line << endl;
}
</pre>
            <br/>
            <p>To use the file IO classes in C++, we must first import fstream. This contains all the file stream
                classes like ifstream (in file stream) that we see in this example. We then call the getline function
                with a string reference to read the file line by line.</p>
        </div>

        <div class="well">
            <div><h2>Recursive Function to Find Anagrams</h2></div>
            <p>Now lets see a recursive function that computes all anagrams of a string and prints them to the
                screen.</p>

<pre>
<!--<textarea class="form-control" rows="20">-->
void printAllAnagrams(string input) {
    printAllAnagramsRecursive(input, "");
}

void printAllAnagramsRecursive(string input, string currentAnagram) {
    if (input.length() == 0) {
        cout << currentAnagram << endl;
    } else {
        string originalInput = input;
        string originalAnagram = currentAnagram;
        for (int i = 0; i < originalInput.length(); i++) {
            input = originalInput;
            currentAnagram = originalAnagram;
            currentAnagram.push_back(input.at(i));
            input.erase(i, 1);
            printAllAnagramsRecursive(input, currentAnagram);
        }
    }
}
    <!--</textarea>-->
</pre>
            <br/>
            <p>When printAllAnagrams is called, it immediately calls the recursive version of the function which has an
                additional parameter to track the current progress of the anagram. The function then iterates through
                each character of the string and makes a recursive call by choosing each character as the next character
                in the anagram. By choosing every possible character to append to the anagram and making a recursive
                call with that character removed from the word, this will effectively print every combination of
                letters to the console.</p>

            <h2>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse51">What is the runtime of printAllAnagram for
                                    a string of length <var>n</var>?</a>
                            </h4>
                        </div>
                        <div id="collapse51" class="panel-collapse collapse">
                            <div class="panel-body"><var>n!</var></div>
                        </div>
                    </div>
                </div>
            </h2>

        </div>

        <div class="well">
            <div><h2>Recursive Function to Find Anagrams in a Dictionary</h2></div>
            <br/>

<pre>
void addWords(string filename) {
    ifstream fs;
    fs.open(filename);
    string line;

    while (!fs.eof()) {
        getline(fs, line);
        dictionary.insert(line);
    }

}

void printAllAnagrams(string input) {
    printAllAnagramsRecursive(input, "");
}

void printAllAnagramsRecursive(string input, string currentAnagram) {
    if (input.length() == 0 && dictionary.find(prefix) != dictionary.end()) {
        cout << currentAnagram << endl;
    } else {
        string originalInput = input;
        string originalAnagram = currentAnagram;
        for (int i = 0; i < originalInput.length(); i++) {
            input = originalInput;
            currentAnagram = originalAnagram;
            currentAnagram.push_back(input.at(i));
            input.erase(i, 1);
            printAllAnagramsRecursive(input, currentAnagram);
        }
    }
}
</pre>
            <br/>
            <p>This version of the function is almost identical to the previous example exept we are now only concerned
                with anagrams that are contained in the dictionary. To accomplish this, we will fist read our dictionary
                file and insert the words into a data structure. Then, for each anagram of the word, we check if that
                word is contained in the dictionary.</p>
            <p>
            <h3>Discussion: Can we write a more efficient function?</h3></p>
            <p>
            <h3>Discussion: Can we write a function that is asymptotically faster?</h3></p>
        </div>

        <div class="container"></div>

    </div>
</div>
