<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Sorting</h1></div>
        </div>
    </div>
	  <div class="well outer-well">

          <div class="well text-center"><h1><a href="lectures/250-Sorting.pptx">Matthew Hertz Lecture Slides</a></h1></div>
        <div class="well">

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div>

                        <!--<center>-->
                            <!--<img class="img-responsive" src="images/sort.png">-->
                        <!--</center>-->
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </div>
		<div class="well">
                In this lecture we will review sorting through an array and a vector using some sorting algorithms such as insertion sort, merge sort, quicksort, and bubble sort.
        </div>
		 <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Insertion Sort</p></strong></h1>

                    <!--********** Free, but not credited-->
                    <!--https://upload.wikimedia.org/wikipedia/commons/0/0f/Insertion-sort-example-300px.gif-->
					<!--<center>-->
					<!--<img src="images/insertionsort.gif" height ="300px" width ="400px" />-->
					<!--</center>-->


                    <!--********** https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwj5haLFwZnLAhWjloMKHd2ADBoQFggdMAA&url=https%3A%2F%2Fwww.cs.ucsb.edu%2F~bboe%2Fcs32_m12%2Fslides%2Fsort%2Finsertion_02.pptx&usg=AFQjCNGBbJh-Qy7sfR5u8ecfxs7ck1nYTQ-->
		<!--<pre>-->
		<!---->
<!--void insertion_sort(int arr[], int length) {-->
 <!--int i, j ,tmp;-->
 <!--for (i = 1; i < length; i++) {-->
 <!--j = i;-->
 <!--while (j > 0 && arr[j - 1] > arr[j]) {-->
	<!--tmp = arr[j];-->
	<!--arr[j] = arr[j - 1];-->
	<!--arr[j - 1] = tmp;-->
	<!--j&#45;&#45;;-->
 <!--}//end of while loop-->
 <!---->
 <!--print_array(arr,5);-->
 <!---->
 <!--}//end of for loop-->
 <!--}//end of insertion_sort.	-->

<!--void print_array(int array[], int size){-->
	<!--cout<< "sorting: ";-->
	<!--int j;-->
	<!--for(int j = 0; j < size; j++){-->
		<!--cout << " " << array[j];-->
		<!--cout << endl;-->
	<!--}-->
<!--} -->
		<!--</pre>-->
		<!--<h3><p>Output</p></h3>-->
		<!---->
		<!--<pre>-->
<!--insertion sort steps: 4 5 3 2 1-->
<!--insertion sort steps: 3 4 5 2 1-->
<!--insertion sort steps: 2 3 4 5 1-->
<!--insertion sort steps: 1 2 3 4 5		-->
		<!--</pre>-->
		<!---->
		<h3><p>Pros:</p></h3>
		<ul>
			<li>Simple Implementation</li>
			<li>Efficient for small data sets</li>
			<li>Doesn't change relative order of elements w/ equal keys</li>
			<li>Excellent when list or array is almost sorted</li>
			<li>Sort Stable</li>
			<li>Very memory efficient - it only needs one extra storage location to make room for the moving items</li>
			<li>Good with sequential data(data that is read a line at a time)
		</ul>
		<br/>
		<h3><p>Cons:</p></h3>
		<ul>
			<li>Poor performance when dealing with large data sets, i.e large lists(hundreds of thousands of items)</li>
			<li>Slower than merge sort and quick sort algorithms</li>
			<li>Very bad when dealing with large arrays(elements need to be moved up)</li>
		</ul>
		<br/>
		<h3><p>Performance/Time Complexity</p></h3>
		<ul>
			<li><span><strong>Worst Case:</strong></span>	О(n<sup>2</sup>) comparisons, swaps</li>
			<li><span><strong>Best Case:</strong></span> O(n) comparisons, O(1) swaps</li>
			<li><span><strong>Average Case:</strong></span> О(n<sup>2</sup>) comparisons, swaps</li>
			<li><span><strong>Worst Case Space Complexity:</strong></span> О(n) total, O(1) auxiliary</li>
		</ul>
				</div>
		</div>
		
		 <div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Bubble Sort</p></strong></h1>

                    <!--********** Free, but not credited-->
                    <!--https://commons.wikimedia.org/wiki/File:Bubble-sort-example-300px.gif-->
                    <!--<center>-->
					<!--<img src="images/bubblesort.gif" height ="300px" width ="400px" />-->
					<!--</center>-->

                    <!--********** http://www.algolist.net/Algorithms/Sorting/Bubble_sort-->
					<!--<pre>-->

<!--int main()-->
<!--{-->
  <!--int array[8] = {8,7,4,8,15,26,705,433};-->
  <!--bubbleSort(array,8);-->
  <!--for(int i = 0; i < 8; i++){-->
    <!--std::cout << array[i];-->
  <!--}-->
<!--}-->

<!--void bubbleSort(int arr[],int n) {-->
      <!--bool swapped = true;-->
      <!--int j = 0;-->
      <!--int tmp;-->
      <!--while (swapped) {-->
            <!--swapped = false;-->
            <!--j++;-->
            <!--for (int i = 0; i < n - j; i++) {-->
                  <!--if (arr[i] > arr[i + 1]) {-->
                        <!--tmp = arr[i];-->
                        <!--arr[i] = arr[i + 1];-->
                        <!--arr[i + 1] = tmp;-->
                        <!--swapped = true;-->
                  <!--}-->
            <!--}-->
      <!--}-->
<!--}-->
					<!---->
					<!--</pre>-->
					<!--<h3><p>Output</p></h3>-->
		<!---->
		<!--<pre>-->
<!--4 7 8 8 15 26 433 705 -->
		<!--</pre>-->
		
		<h3><p>Pros:</p></h3>
		<ul>
			<li>Simple implementation<li>
			<li>Efficient for small data sets</li>
			<li>Stable and Adaptive</li>
			<li>Performs better on substantially sorted lists</li>
		</ul>
		<br/>
		<h3><p>Cons:</p></h3>	
		<ul>
			<li>Terrible average and worst case complexities</li>
			<li>Very inefficient for large data sets</li>
			<li>Impractical even compared to Insertion Sort</li>
			<li>Many sorting algorithms are better</li>
		</ul>
		<br/>
		<h3><p>Performance/Time Complexity</p></h3>
		<ul>
			<li><span><strong>Worst Case:</strong></span>	О(n<sup>2</sup>) </li>
			<li><span><strong>Best Case:</strong></span> O(n) </li>
			<li><span><strong>Average Case:</strong></span> О(n<sup>2</sup>) </li>
			<li><span><strong>Worst Case Space Complexity:</strong></span> О(1)</li>
		</ul>
				</div>
				
		</div>
		<div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Merge Sort</p></strong></h1>

                    <!--********** https://commons.wikimedia.org/wiki/File:Merge-sort-example-300px.gif-->
					<!--<center>-->
					<!--<img src="images/mergesort.gif" height ="300px" width ="400px" />-->
					<!--</center>-->

                    <!--********** http://sudhakarcomputers.blogspot.com/2016/01/searching-and-sorting.html-->
                    <!--<pre>-->

<!--void mergesort(int *a, int low, int high)-->
<!--{-->
    <!--int mid;-->
    <!--if (low < high)-->
    <!--{-->
        <!--mid=(low+high)/2;-->
        <!--mergesort(a,low,mid);-->
        <!--mergesort(a,mid+1,high);-->
        <!--merge(a,low,high,mid);-->
    <!--}-->
    <!--return;-->
<!--}-->
<!--void merge(int *a, int low, int high, int mid)-->
<!--{-->
    <!--int i, j, k, c[50];-->
    <!--i = low;-->
    <!--k = low;-->
    <!--j = mid + 1;-->
    <!--while (i <= mid && j <= high)-->
    <!--{-->
        <!--if (a[i] < a[j])-->
        <!--{-->
            <!--c[k] = a[i];-->
            <!--k++;-->
            <!--i++;-->
        <!--}-->
        <!--else-->
        <!--{-->
            <!--c[k] = a[j];-->
            <!--k++;-->
            <!--j++;-->
        <!--}-->
    <!--}-->
    <!--while (i <= mid)-->
    <!--{-->
        <!--c[k] = a[i];-->
        <!--k++;-->
        <!--i++;-->
    <!--}-->
    <!--while (j <= high)-->
    <!--{-->
        <!--c[k] = a[j];-->
        <!--k++;-->
        <!--j++;-->
    <!--}-->
    <!--for (i = low; i < k; i++)-->
    <!--{-->
        <!--a[i] = c[i];-->
    <!--}-->
<!--}-->
<!--int main()-->
<!--{-->
    <!--int a[20], i, b[20];-->
    <!--cout<<"enter  the elements\n";-->
    <!--for (i = 0; i < 5; i++)-->
    <!--{-->
        <!--cin >> a[i];-->
    <!--}-->
    <!--mergesort(a, 0, 4);-->
    <!--cout<<"sorted array\n";-->
    <!--for (i = 0; i < 5; i++)-->
    <!--{-->
        <!--cout << a[i];-->
    <!--}-->
    <!--cout<<"enter  the elements\n";-->
    <!--for (i = 0; i < 5; i++)-->
    <!--{-->
        <!--cin >> b[i];-->
    <!--}-->
    <!--mergesort(b, 0, 4);-->
    <!--cout<<"sorted array\n";-->
    <!--for (i = 0; i < 5; i++)-->
    <!--{-->
        <!--cout << b[i];-->
    <!--}-->
    <!--getch();-->
<!--}			-->
			<!--</pre>-->
					<!--<h3><p>Output</p></h3>-->
		<!---->
		<!--<pre>-->
<!--enter  the elements-->
<!--78-->
<!--45-->
<!--80-->
<!--32-->
<!--67-->
<!--sorted array-->
<!--32-->
<!--45-->
<!--67-->
<!--78-->
<!--80	-->
		<!--</pre>-->
		
		<h3><p>Pros:</p></h3>
			<ul>
				<li>Stable</li>
				<li>Excellent when accessing sequential data</li>
				<li>Well suited for large amounts of data</li>
				<li>Worst case complexity is O(n logn)</li>
				<li>Recursive-like</li>
				<li>Somewhat easy implementation</li>
			</ul>
			<br/>
		<h3><p>Cons:</p></h3>
			<ul>
				<li>Uses lots of memory</li>
				<li>Inferior to Quicksort in many ways</li>
				<li>Usually considered fastest method in most types of lists</li>
				<li>Many implementations</li>
				<li>memory required is the size of list x 2</li>
				<li>Coding using recursion is very memory consuming</li>
			</ul>
			<br/>
			<h3><p>Performance/Time Complexity</p></h3>
		<ul>
			<li><span><strong>Worst Case:</strong></span>О(n logn) </li>
			<li><span><strong>Best Case:</strong></span> O(n logn)(typical) O(n)natural variant </li>
			<li><span><strong>Average Case:</strong></span> О(n logn) </li>
			<li><span><strong>Worst Case Space Complexity:</strong></span> О(n)</li>
		</ul>
				</div>
		</div>
		<div class="panel panel-default">
                <div class="panel-body" class="sectioncolor">
                    <h1><strong><p class="midalign">Quick Sort</p></strong></h1>

                    <!--********** https://en.wikipedia.org/wiki/File:Sorting_quicksort_anim.gif-->
					<!--<center>-->
					<!--<img src="images/quicksort.gif" height ="300px" width ="400px" />-->
					<!--</center>-->

                    <!--********** http://ideone.com/OQHbGV-->
                    <!--<pre>-->

<!--void print(int *a, int n)-->
<!--{-->
    <!--int i = 0;-->
    <!--while(i < n){-->
        <!--std::cout << a[i] << ",";-->
        <!--i++;-->
    <!--}-->
    <!--std::cout << "\n";-->
<!--}-->

<!--int partition(int *arr, const int left, const int right) {-->
    <!--const int mid = left + (right - left) / 2;-->
    <!--const int pivot = arr[mid];-->
    <!--// move the mid point value to the front.-->
    <!--std::swap(arr[mid],arr[left]);-->
    <!--int i = left + 1;-->
    <!--int j = right;-->
    <!--while (i <= j) {-->
        <!--while(i <= j && arr[i] <= pivot) {-->
            <!--i++;-->
        <!--}-->

        <!--while(i <= j && arr[j] > pivot) {-->
            <!--j&#45;&#45;;-->
        <!--}-->

        <!--if (i < j) {-->
            <!--std::swap(arr[i], arr[j]);-->
        <!--}-->
    <!--}-->
    <!--std::swap(arr[i - 1],arr[left]);-->
    <!--return i - 1;-->
<!--}-->

<!--void quicksort(int *arr, const int left, const int right, const int sz){-->

    <!--if (left >= right) {-->
        <!--return;-->
    <!--}-->


    <!--int part = partition(arr, left, right);-->

    <!--quicksort(arr, left, part - 1, sz);-->
    <!--quicksort(arr, part + 1, right, sz);-->
<!--}-->

<!--int main() {-->
    <!--int arr[8] = {110, 5, 10,3 ,22, 100, 1, 23};-->
    <!--int sz = sizeof(arr)/sizeof(arr[0]);-->
    <!--print(arr, sz);-->
    <!--quicksort(arr, 0, sz - 1, sz);-->
    <!--print(arr, sz);-->
    <!--return 0;-->
<!--}	-->
			<!--</pre>-->
				<!--<h3><p>Output</p></h3>-->
		<!---->
		<!--<pre>-->
<!--110,5,10,3,22,100,1,23-->
<!--1,3,5,10,22,23,100,110-->
		<!--</pre>-->
		<h3><p>Pros:</p></h3>
			<ul>
				<li>Superior to MergeSort in many factors</li>
				<li>Can avoid worst case O(n<sup>2</sup>) runtime by using a good pivot</li>
				<li>Very efficient average case compared to other sorts</li>
				<li>Impressive when implemented correctly</li>
				<li>Generally a fast sorting algorithm</li>
				<li>Low amounts of memory</li>
				<li>Perhaps the best sorting algorithm?</li>
			</ul>
			<br/>
		<h3><p>Cons:</p></h3>
			<ul>
				<li>Worst case complexity is O(n<su>2</sup>)</li>
				<li>Not stable when efficiently implemented</li>
				<li>Mergesort is still better in certain cases</li>
				<li>Quite difficult to understand, let alone implement</li>
				<li>When it's bad, it's really bad</li>
			</ul>
			<br/>
			<h3><p>Performance/Time Complexity</p></h3>
		<ul>
			<li><span><strong>Worst Case:</strong></span>О(n<sup>2</sup>) </li>
			<li><span><strong>Best Case:</strong></span> O(n logn) or O(n) on equal keys</li>
			<li><span><strong>Average Case:</strong></span> О(n) auxiliary </li>
			<li><span><strong>Worst Case Space Complexity:</strong></span> О(log n)</li>
		</ul>
	  </div> 
</div>